body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.link {
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================================= PAGE-HEADER ============================== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;

  display: block;
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.navigate {
  display: flex;
  align-items: center;
}

.navigate-list {
  display: flex;
  gap: 40px;
}

.navigate-list-link {
  position: relative;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;

  display: inline-block;
  padding: 24px 0;
}

.contacts-list .link {
  display: inline-block;
  padding: 24px 0;
}

.navigate-list .link:hover,
.navigate-list .link:focus {
  color: #404bbf;
}

.current-page {
  color: #404bbf;
}

.current-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}

/* ============================== SECTION-HERO ============================== */

.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.btn {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* ============================== SECTION-ADVANTAGES ============================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.svg-advantages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px #8e8f99 solid;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantages-item .item-title {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.advantages-item .item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============================== SECTION-TEAM ============================== */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-item .item-name {
  padding: 32px 0;
}

.team-item .item-title {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-align: center;
  margin-bottom: 8px;
}

.team-item .item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  padding: 12px 12px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon {
  fill: #f4f4fd;
}

.social-links-link:hover,
.social-links-link:focus {
  background-color: #404bbf;
}

/* ============================== SECTION-PORTFOLIO ============================== */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item .item-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.item-title {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.item-text {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.33;
}

/* ============================== PAGE-FOOTER ============================== */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-logo {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;

  width: 264px;
}

.container-social-links {
  width: 208px;
  margin-right: 80px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.social-links-text {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.container-social-links .social-links-list {
  gap: 16px;
}

.container-social-links .social-links-link {
  padding: 8px;
}

.container-social-links .social-links-link:hover,
.container-social-links .social-links-link:focus {
  background-color: #31d0aa;
}

.form-subscribe {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.form-text {
  margin-bottom: 16px;

  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.input-subscribe {
  margin-right: 24px;

  width: 264px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid white;

  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-subscribe::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.02em;
}

.btn-subscribe {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
  height: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
}

.form-subscribe-icon {
  margin-left: 16px;
}

/* ============================== MODAL ============================== */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
  min-width: 408px;
  min-height: 584px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-form-text {
  text-align: center;

  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

/* .form-user-info:focus-within {
  border-color: #4d5ae5;
} */

.user-info-label {
  display: block;
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.container-user-info-input {
  position: relative;
}

.container-form-items {
  margin-bottom: 8px;
}

.user-info-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-top: 8px;
  padding-left: 38px;
  padding-bottom: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: none; */
}

.user-info-input:focus-within {
  border-color: #4d5ae5;
  outline: none;
}

.user-info-input:focus-within + .icon-input {
  fill: #4d5ae5;
}

.icon-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-user-comment {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);

  resize: none;

  padding: 8px 16px;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus-within {
  border-color: #4d5ae5;
}

/* .textarea-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
} */

.privacy-policy {
  margin-bottom: 24px;
}

.checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fcfcfc;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox {
  fill: #fcfcfc;
}

.privacy-policy-checkbox:checked + .checkbox-label > .custom-checkbox,
.privacy-policy-checkbox:checked
  + .checkbox-label
  > .custom-checkbox
  > .icon-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  font-size: 12px;
  text-decoration: underline;
}

.user-info-btn {
  display: block;
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  margin: 0 auto;
  gap: 16px;
  padding: 16px 32px;
  min-width: 169px;
  height: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-btn:hover,
.user-info-btn:focus {
  background-color: #404bbf;
}
